*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
html {
  font-size: 62.5%;
  overflow: hidden;
  scroll-behavior: smooth;
  height: 100vh;
  width: 100%;
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
}
i,
svg {
  pointer-events: none;
}
h1 {
  color: white;
  font-size: 2.5rem;
}
h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: underline;
  font-size: 7rem;
  color: white;
  padding-bottom: 4rem;
}
.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}
.kick-pad {
  border: 0.5px solid white;
  background: rgb(160, 211, 224);
}
.snare-pad {
  border: 0.5px solid white;
  background: rgb(240, 160, 208);
}
.hihat-pad {
  border: 0.5px solid white;
  background: rgb(224, 194, 160);
}
.snare-pad.active {
  background: rgb(218, 58, 178);
}
.kick-pad.active {
  background: rgb(53, 151, 231);
}
.hihat-pad.active {
  background: rgb(241, 158, 64);
}
.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hihat-track,
.snare-track,
.kick-track {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
}
.kick,
.snare,
.hihat {
  display: flex;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}
.controls button {
  padding: 1rem;
  border: none;
  background: rgb(88, 88, 88);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border: 0.5px solid white;
  transition: all 0.5s ease;
}
.pad {
  transition: all 0.5s ease;
}
.play {
  width: 10rem;
  height: 5rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: rgb(88, 88, 88);
  color: white;
  border: 0.5px solid white;
  cursor: pointer;
  margin-top: 3rem;
  border-radius: 2rem;
}
select {
  font-size: 2rem;
  padding: 1rem;
  font-size: 1rem;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
