*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
html {
  font-size: 62.5%;
  overflow: hidden;
  scroll-behavior: smooth;
  height: 100vh;
  width: 100%;
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
}
i,
svg {
  pointer-events: none;
}
h1 {
  color: white;
  font-size: 2.5rem;
}
h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: underline;
  font-size: 4.5rem;
  color: white;
  padding-bottom: 3rem;
  margin-top: 1rem;
}
.kick-pad,
.snare-pad,
.hihat-pad,
.clap-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
  border-radius: 1rem;
}
.kick-pad {
  border: 0.5px solid white;
  background: rgb(160, 211, 224);
}
.snare-pad {
  border: 0.5px solid white;
  background: rgb(240, 160, 208);
}
.hihat-pad {
  border: 0.5px solid white;
  background: rgb(224, 194, 160);
}
.clap-pad {
  border: 0.5px solid white;
  background: rgb(155, 72, 223);
}
.snare-pad.active {
  background: rgb(218, 58, 178);
}
.kick-pad.active {
  background: rgb(53, 151, 231);
}
.hihat-pad.active {
  background: rgb(241, 158, 64);
}
.clap-pad.active {
  background: rgb(105, 20, 175);
}
.sequencer {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hihat-track,
.snare-track,
.kick-track,
.clap-track {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 70%;
  justify-content: space-between;
}
.kick,
.snare,
.hihat,
.clap {
  display: flex;
  flex-wrap: wrap;
}
.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}
.controls button {
  padding: 1rem;
  border: none;
  background: rgb(88, 88, 88);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border: 0.5px solid white;
  transition: all 0.5s ease;
}
.pad {
  transition: all 0.5s ease;
}
.play {
  width: 10rem;
  height: 5rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: rgb(88, 88, 88);
  color: white;
  border: 0.5px solid white;
  cursor: pointer;
  margin-top: 3rem;
  border-radius: 1rem;
}
select {
  font-size: 1.2rem;
  padding: 1rem;
  width: 150px;
}
.mute {
  border-radius: 1rem;
}
.mute.active {
  background: rgb(182, 182, 182);
}
.tempo {
  margin: 3rem;
  width: 30%;
}
.tempo-slider {
  padding: 0.2rem;
  -webkit-appearance: none;
  margin: 1rem;
  width: 100%;
  position: relative;
  background: rgb(88, 88, 88);
  cursor: pointer;
  border: 0.5px solid white;
  border-radius: 1rem;
}
.tempo p {
  font-size: 1.8rem;
  margin: 1.5rem;
  color: white;
  text-align: center;
}
@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
@media screen and (max-width: 754px) {
  html {
    font-size: 50%;
    height: 100%;
    overflow: visible;
  }
  .sequencer {
    display: flex;
    height: 100%;
    flex: 1 1 40rem;
    width: 100%;
  }
  .kick-track,
  .snare-track,
  .hihat-track,
  .clap-track {
    width: 90%;
  }
  .kick,
  .snare,
  .hihat,
  .clap {
    width: 100%;
    justify-content: space-evenly;
  }
  .controls {
    justify-content: space-evenly;
    margin: 2rem;
  }
  .tempo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
